.u-section-1 .u-sheet-1 {
  min-height: 798px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 43px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 37px auto 0 0;
}

.u-section-1 .u-image-1 {
  width: 319px;
  height: 319px;
  background-image: url("images/123452.jpg");
  background-position: 50% 50%;
  margin: 52px auto 0 0;
}

.u-section-1 .u-text-3 {
  line-height: 1.8;
  font-size: 1.125rem;
  font-weight: 400;
  margin: 84px 570px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-3 {
    margin-right: 370px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-3 {
    margin-right: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 784px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
  }
} .u-section-2 {
  min-height: 769px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 769px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 30px 80px;
}

.u-section-2 .u-image-1 {
  width: 556px;
  height: 355px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.125rem;
  line-height: 1.8;
  margin: 60px 165px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 769px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-shape-1 {
  width: 228px;
  height: 385px;
  background-image: linear-gradient(#d9d9d9, #f2f2f2);
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 60px 78px 0 95px;
}

.u-section-2 .u-icon-1 {
  width: 48px;
  height: 48px;
  margin: 31px 77px 0 auto;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 657px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 634px;
  }

  .u-section-2 .u-image-1 {
    width: 501px;
    height: 320px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 65px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 739px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 0;
    margin-left: 13px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 32px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 534px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-2 .u-image-1 {
    width: 300px;
    height: 310px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 5px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 704px;
  }

  .u-section-2 .u-shape-1 {
    width: 222px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
    margin-right: 49px;
    margin-left: 21px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 29px;
    margin-right: 49px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1227px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 666px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 1px;
  }

  .u-section-2 .u-text-2 {
    font-size: 3rem;
    margin-right: 40px;
    margin-left: 30px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 30px;
    margin-right: 40px;
    margin-bottom: -1px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 894px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 694px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 45px;
  }

  .u-section-2 .u-icon-1 {
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 762px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 682px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 60px auto 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 682px;
  margin-top: 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  margin-top: 0;
  margin-bottom: 0;
  height: 321px;
  background-image: url("images/123452.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 682px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-image-2 {
  margin-top: 0;
  margin-bottom: 0;
  height: 321px;
  background-image: url("images/aYRrm0gcUyU.jpg");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 637px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 562px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 562px;
  }

  .u-section-3 .u-image-1 {
    height: 265px;
    width: 265px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 562px;
  }

  .u-section-3 .u-image-2 {
    height: 265px;
    width: 265px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 430px;
  }

  .u-section-3 .u-image-1 {
    height: 203px;
    width: auto;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 430px;
  }

  .u-section-3 .u-image-2 {
    height: 203px;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1653px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: -743px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 453px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 577px;
  }

  .u-section-3 .u-image-1 {
    height: 522px;
    width: auto;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 591px;
  }

  .u-section-3 .u-image-2 {
    height: 522px;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1404px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: -941px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 463px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 363px;
  }

  .u-section-3 .u-image-1 {
    height: 329px;
    width: auto;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 372px;
  }

  .u-section-3 .u-image-2 {
    height: 329px;
    width: auto;
  }
}